In [213]:
print("Hello world!") # " " 의 data type은 str

Hello world!

In [214]:
print("Hello"+"World")

HelloWorld

In [215]:
print("Hello","World")

Hello World

In [216]:
value = input('값을 입력하세요: ')
print(value)

값을 입력하세요: 2020 데청캠
2020 데청캠

In [217]:
min(9,5,2,3)

2

In [218]:
max(9,5,2,3)

9

In [219]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [220]:
## 산술연산자 ###############################

In [221]:
10/2     # / 연산은 float으로 바꿈

5.0

In [222]:
10+2, 10*2

(12, 20)

In [223]:
17/3      # 표현할 수 있는 수 범위가 정해져있음

5.666666666666667

In [224]:
17%3, 17//3, 5**2

(2, 5, 25)

In [225]:
17%3, 17//3

(2, 5)

In [226]:
## 비교연산자 ###############################

In [227]:
34 == 33, 34 != 33

(False, True)

In [228]:
"hello" == "world", "hello" != "world"

(False, True)

In [229]:
"hello" > "world", "hello" < "world" # 문자열의 앞에서부터 각 문자의 알파벳 순서 검사

(False, True)

In [230]:
## ASCII Code(Unicode) ###############################

In [231]:
ord('a'), chr(97), ord('h'), ord('w')

(97, 'a', 104, 119)

In [232]:
ord('c'), ord('C'), ord('c') < ord('C')

(99, 67, False)

In [233]:
## 논리 연산자 ###############################

In [234]:
"taxi" == "bus" or 3400 > 3000, "taxi" != "bus" and not(3400 > 3000)

(True, False)

In [235]:
## 연산 순서 ###############################

In [236]:
# ()        : 연산의 우선순위를 바꿈
# **
# +X, -X, ~X
# *, /, //, %
# +, -
# <, <=, >, >=, !=, ==
# not X
# and
# or

In [237]:
--5, ++5, +++5, ~1, ~2, ~3, ~1&1, 1&1

(5, 5, 5, -2, -3, -4, 0, 1)

In [238]:
## 변수 할당 ###############################

In [239]:
# length = 5
# width = 20
# height = 5

### 할당문
# 변수이름 없으면 새로 만듦
# 변수이름 있으면 값 바꾸기

#### 변수이름 주의
# 알파벳 대소문자, 숫자, _ 사용
# 첫자는 숫자 안됨
# 대소문자 구분
# keyword 사용 못함

# length, width, height = 5, 20, 5
length, width, height = (5, 20, 5)
# (length, width, height) = 5, 20, 5
# (length, width, height) = (5, 20, 5)
# [length, width, height] = [5, 20, 5]

volume = width * height * length

volume

500

In [240]:
# 함수이름(변수)
id(width), hex(id(width)), id(length), hex(id(length))

(140705742758896, '0x7ff89bd0a3f0', 140705742758416, '0x7ff89bd0a210')

In [241]:
print(width == length) # 값 비교
print(width is length) # 주소 비교

False
False

In [242]:
# 데이터 타입 확인
type(width), type("adc"), type(22.2), type("adc"*2), type(True), type(2+3.0), type(2+3)

(int, str, float, str, bool, float, int)

In [243]:
# 타입이 다른 경우의 연산
print(2.2+False+"")

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [245]:
print(str(2.2)+str(False)+"")
print(str(2.2+False)+"")

2.2False
2.2

In [246]:
## 축약 연산자 ###############################
# +=, -=, *=, /=, %=, **=, //=

In [247]:
# 변수 삭제
print(width)
del width

20

In [248]:
print(width)

NameError: name 'width' is not defined

In [249]:
# 문제
############################################################################
input_money, per = map(int, input("입금액(원), 연이율(%):: ").split(","))

input_money = input_money*(1+per/100)

print(input_money)

입금액(원), 연이율(%):: 4000, 3
4120.0

In [251]:
a, b = eval(input("enter(a,b): "))  # eval 함수
print(a, b)

enter(a,b): 4000, 3
4000 3

In [252]:
############################################################################

In [253]:
# Data Structure
# str, list, tuple, dict, set

In [254]:
## List 만들기 ###############################
band_list = [ ]
new_band = [ '호피폴라', '애프터문', "루시", "모네", '퍼플레인', "피플 온 더 브릿지"]
print(band_list)
print(new_band)

[]
['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']

In [256]:
new_band[0], new_band[2], new_band[1:3]   # slicing

('호피폴라', '루시', ['애프터문', '루시'])

In [257]:
score= [[70, 90, 60, 50],[20, 100, 80, 80], [50, 20, 10, 100],[80,50,40,20]]

In [259]:
score[1][0], score[1][1], score[1][2], score[1][3]   # indexing

(20, 100, 80, 80)

In [263]:
score[1], score[1][-4], score[1][-1]

([20, 100, 80, 80], 20, 80)

In [265]:
len(score[1]), len(score)

(4, 4)

In [266]:
del score[1]
score

[[70, 90, 60, 50], [50, 20, 10, 100], [80, 50, 40, 20]]

In [270]:
# list slicing
print(new_band[0:4:1])
print(new_band[:4:1])
print(new_band[:4])
print(new_band[2: :2])
print(new_band[:7:2])       # 인덱스 초과 해도됨
print(new_band[::])
print(new_band[:])

['호피폴라', '애프터문', '루시', '모네']
['호피폴라', '애프터문', '루시', '모네']
['호피폴라', '애프터문', '루시', '모네']
['루시', '퍼플레인']
['호피폴라', '루시', '퍼플레인']
['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']
['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']

In [272]:
nums = [ 1, 2, 3 ]
new_nums = nums * 2
new_nums

[1, 2, 3, 1, 2, 3]

In [273]:
n = [ 3, 5 ] ; n2 = [ 100, 200 ]
n.extend( n2 )
n

[3, 5, 100, 200]

In [274]:
n = [ 3, 5 ] ; n2 = [ 100, 200 ]
n.append( n2 )
n

[3, 5, [100, 200]]