In [1]:
#######################################################################
#                              3장                                    #
#######################################################################

In [2]:
############################# LIST ####################################

In [3]:
## List Slicing ###############################
bands = [ '호피폴라', '애프터문', "루시", "모네", '퍼플레인', "피플 온 더 브릿지"]
print(bands)

['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지']

In [4]:
bands[0:5:2], bands[:5:2], bands[0::2], bands[::2]

(['호피폴라', '루시', '퍼플레인'],
 ['호피폴라', '루시', '퍼플레인'],
 ['호피폴라', '루시', '퍼플레인'],
 ['호피폴라', '루시', '퍼플레인'])

In [5]:
bands[0:5], bands[:5],

(['호피폴라', '애프터문', '루시', '모네', '퍼플레인'], ['호피폴라', '애프터문', '루시', '모네', '퍼플레인'])

In [6]:
bands[::1], bands[::], bands[:]

(['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지'],
 ['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지'],
 ['호피폴라', '애프터문', '루시', '모네', '퍼플레인', '피플 온 더 브릿지'])

In [7]:
bands[1:4] = []
print(bands)

['호피폴라', '퍼플레인', '피플 온 더 브릿지']

In [8]:
## List 할당 ###############################
a = bands      # 변수를 그대로 assign하면 주소값
b = bands[:]
print(a);print(b)     # 한줄에 여러 명령문 -> ;

['호피폴라', '퍼플레인', '피플 온 더 브릿지']
['호피폴라', '퍼플레인', '피플 온 더 브릿지']

In [9]:
del bands[1]
print(a)
print(b)

['호피폴라', '피플 온 더 브릿지']
['호피폴라', '퍼플레인', '피플 온 더 브릿지']

In [10]:
bands is a   # a가 갖는 값의 주소
bands is b

False

In [11]:
bands = ['호피폴라', '애프터문', '루시']
print(id(bands))
bands[0] = 0; bands[1] = 1; bands[2]= 2

2670844333056

In [12]:
id(bands)

2670844333056

In [13]:
bands = ['호피폴라', '애프터문', '루시']
id(bands)

2670844332608

In [14]:
bands[::2] = ['루시', '호피롤라']
id(bands)

2670844332608

In [15]:
s_bands = ['호피폴라', '애프터문', '루시']; print(id(s_bands))
s_bands[:] = ['루시', 100, '호피폴라']
print(s_bands); print(id(s_bands))

2670843799488
['루시', 100, '호피폴라']
2670843799488

In [16]:
## List Item 추가 ###############################
# + 연산자로 item 추가
new_list = [ '루시', '호피폴라', '애프터문', '루시' ]
new_list = new_list + [ '모네' ]
new_list

['루시', '호피폴라', '애프터문', '루시', '모네']

In [17]:
# append() 함수로 item 추가
print(new_list.append('퍼플레인'))   # .append() - function call
print(new_list)

None
['루시', '호피폴라', '애프터문', '루시', '모네', '퍼플레인']

In [18]:
# 내장함수 = Built-in 함수
# print(), input() 등

# 작업대상 함수 : method
# X.append(), X.split() 등

In [19]:
n = [3, 5] ; n2 = [100, 200]
print(id(n))
n.extend(n2)
n, id(n)

2670844592960

([3, 5, 100, 200], 2670844592960)

In [20]:
n = [3, 5]
print(id(n))
print(n+n2, id(n+n2), id(n2))   # n + n2 -> 새로운 리스트 생성(새로운 주소값)
n += n2
print(n, id(n))

2670844594240
[3, 5, 100, 200] 2670844590656 2670844593472
[3, 5, 100, 200] 2670844594240

In [21]:
## List 2차원 Table 만들기 ###############################
l1 = [ '이름', '국어', '수학' ]
l2 = [ '홍길동', 70, 80 ]
l3 = [ '김돌쇠', 50, 50 ]
l4 = [ '강철수', 90, 100 ]
s = [ l1, l2, l3, l4 ]
s
# l1, l2, l3, l4 는 메모리에 다 따로 만들어짐
# s는 각 원소의 주소값이 저장됨

[['이름', '국어', '수학'], ['홍길동', 70, 80], ['김돌쇠', 50, 50], ['강철수', 90, 100]]

In [22]:
s[2], s[3][2]

(['김돌쇠', 50, 50], 100)

In [23]:
# s에 주소값들 말고 l1부터 l4의 값만 복사해올려면 어떻게 하나요?

In [24]:
# 직접 슬라이싱해서 가져오기
s=[l1[:],l2[:],l3[:],l4[:] ]
s

[['이름', '국어', '수학'], ['홍길동', 70, 80], ['김돌쇠', 50, 50], ['강철수', 90, 100]]

In [25]:
## List Item 제거, 삳입 ###############################
temp = s[:]
print(temp.pop())
# .pop("index 번호") : 인덱스에 해당하는 값을 리스트에서 제거하고 해당 값을 리턴함
print(temp)

['강철수', 90, 100]
[['이름', '국어', '수학'], ['홍길동', 70, 80], ['김돌쇠', 50, 50]]

In [26]:
bands3 = temp[ : ]
bands3.insert(3, "today")
print(bands3)
bands3.insert(8, "happy")
bands3

[['이름', '국어', '수학'], ['홍길동', 70, 80], ['김돌쇠', 50, 50], 'today']

[['이름', '국어', '수학'], ['홍길동', 70, 80], ['김돌쇠', 50, 50], 'today', 'happy']

In [27]:
## List item 정렬  ###############################
bands4 = temp[:]
print(bands4)
bands4.sort()  # 오름차순
print(bands4)
bands4.sort(reverse = True)  # 내림차순
print(bands4)

[['이름', '국어', '수학'], ['홍길동', 70, 80], ['김돌쇠', 50, 50]]
[['김돌쇠', 50, 50], ['이름', '국어', '수학'], ['홍길동', 70, 80]]
[['홍길동', 70, 80], ['이름', '국어', '수학'], ['김돌쇠', 50, 50]]

In [28]:
# 원소 Index 찾기
bands5 = l4[:]
bands5.index('강철수'), bands5.index(100)

(0, 2)

In [29]:
bands5.index('김돌쇠')

ValueError: '김돌쇠' is not in list

In [30]:
## List item 제거(특정값)  ###############################
bands6 = ['호피폴라', '애프터문', '모네', '퍼플레인', '피플 온 더 브릿지', '모네']

In [31]:
bands6.remove('모네')
bands6

['호피폴라', '애프터문', '퍼플레인', '피플 온 더 브릿지', '모네']

In [32]:
bands6.remove('라포엠')

ValueError: list.remove(x): x not in list

In [33]:
len(bands6) # built-in 함수 : len() 원소의 개수 반환

5

In [34]:
############################# Tuple ####################################

In [35]:
# list -> []
# tuple -> ()    할당할 때 괄호 없어도된다.
# 주요 특징 : 원소 추가, 삭제, 값 변형도 안됨, 그대로 사용
# slicing 가능, + * 연산 가능

In [36]:
# 주의
t = (180) # 수식이 되어버림
t1 = (180,)  # or t1 = 180,
print(t, t1)

180 (180,)

In [37]:
## Tuple 할당 ###############################
width , height , length = 20, 5, 5

In [38]:
width , height , length = length, width, height  # 오른 쪽 변수에 해당하는 값을 할당

In [39]:
############################# Dictionary ####################################

In [40]:
# list -> []
# tuple -> () 
# dict -> {}
# x = dixt()     원소없는 dict 만들기
# 순서가 없음, Key와 Value의 일관된 관계(key를 알면 value에 접근 가능)

In [41]:
# dictionary = { key : value, ...}
# key값에는 변경할 수 없는 값만 올 수 있다. -> tuple을 key값 가능

dict1 = { "이름":"김광석", "출생년도":1980, "데뷔곡":"너에게"}
dict1

{'이름': '김광석', '출생년도': 1980, '데뷔곡': '너에게'}

In [42]:
# dictionary item 추가는 method가 아닌 할당문을 사용, 같은 방식으로 value 값도 변경 가능
dict1["데청캠"] = 2020
dict1

{'이름': '김광석', '출생년도': 1980, '데뷔곡': '너에게', '데청캠': 2020}

In [43]:
# key 값으로 indexing, 해당 key 값이 없으면 에러
dict1["데청캠"], dict1["이름"]

(2020, '김광석')

In [44]:
# 해당 key값에 대응되는 value도 같이 삭제
# 없는 경우 Error

del dict1["데청캠"]
dict1

{'이름': '김광석', '출생년도': 1980, '데뷔곡': '너에게'}

In [45]:
len(dict1), dict1.items()

(3, dict_items([('이름', '김광석'), ('출생년도', 1980), ('데뷔곡', '너에게')]))

In [46]:
# dict_keys, dict_values 테이터 타입 - list의 메소드를 쓸 수 없다.
dict1.keys(), dict1.values()

(dict_keys(['이름', '출생년도', '데뷔곡']), dict_values(['김광석', 1980, '너에게']))

In [47]:
# list() 를 사용하여 list로 변환하여 method 사용 가능
print(list(dict1.keys())); print(list(dict1.values()))

['이름', '출생년도', '데뷔곡']
['김광석', 1980, '너에게']

In [48]:
## in 연산자 ###############################
# list, tuple, dict, set, str 모두에 사용 가능

'이름' in dict1, 1964 in dict1 # key에서만 찾는다

(True, False)

In [49]:
## Tuple
#     – tuple 만들기
#     – indexing
#     – slicing
#     – +, * 연산

## Dict
#     – dict 만들기 ( key, value, item )
#     – item 추가 / value 변경
#     – indexing
#     – item 제거
#     – dict 함수 - keys(), values(), items()
#     – in 연산자
#     – key 제한사항

In [50]:
############################# Set ####################################

In [51]:
nums2 = set() # empty set 만들기
nums2

set()

In [52]:
nums = { 1, 2, 3 }   # {} 사용
nums, type(nums)

({1, 2, 3}, set)

In [53]:
days_tuple = ( 'Sun', 'Mon', 'Tues', 'Wed', 'Thr', 'Fri', 'Sat')
days_set = set(days_tuple)
print(days_set)

num_set = set([ 1, 2, 2, 2, 3])
print(num_set)

string_set = set("Hello python")
print(string_set)

# set에는 순서가 없다.
# 원소 중복이 안된다.
# 특정 원소 접근(indexing)이 불가능  -> type 변경 후 가능
# 원소 추가 삭제는 가능  -> add(), remove(), pop()

{'Sun', 'Wed', 'Mon', 'Tues', 'Fri', 'Thr', 'Sat'}
{1, 2, 3}
{'p', 'n', 'H', 'e', 'l', 't', 'h', 'o', ' ', 'y'}

In [54]:
# set 함수
a=set([1, 2, 3, 4])
b=set([3, 4, 5, 6])

# 교집합
print(a & b)            
print(a.intersection(b))

# 합집합
print(a | b)
print(a.union(b))

# 차집합
print(a - b)
print(a.difference(b))

# 대칭차집합
print(a^b)
print(a.symmetric_difference(b))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}
{1, 2, 5, 6}
{1, 2, 5, 6}

In [55]:
## Set
#     – unordered, not duplicated
#     – indexing 불가
#     – item 추가, 삭제 set 함수
#     – set 연산

In [56]:
#######################################################################
#                              4장                                    #
#######################################################################

In [57]:
## 제어문 ####################################
# 프로그램은 명령문들의 모임
# 명령문들은 순차적으로 실행(top-down order)
# 제어문 - 명령문 실행순서를 바꾸는 문장
#       - 제어문은 하나의 문장이 위치할 수 있는 곳 어디나 작성 가능

# if / else / elif
# while
# for
# break
# continue

In [58]:
## if문(조건문) ####################################
# 조건-수식이 True인 경우, if-blcok 실행, 아니면 else-block 실행
# else 부분은 optinal

# Block(일련의 명령문들)은 동일한 들여쓰기(indentation) 되어야 함
# if 조건-수식:
#     명령문 1-1
#     명령문 1-2
#     명령문 1-3
# else :
#     명령문 2-1
#     명령문 2-2
#     명령문 2-3

In [59]:
# eval() vs int() / str() / float()

# if-else문 안의 if-else문

In [89]:
math, eng = eval( input("수학, 영어: ") )
if math >= 90 and eng >= 90 :
    w = 'PASS'
else:
    w = 'FAIL'
print( w )

수학, 영어: 90, 90
PASS

In [91]:
score = int(input("Enter Score: "))
if score >= 90:
    grade = 'A'
else :
    if score >= 90:
        grade ='B'
    else :
        if score >= 70:
            grade = 'C'
        else :
            if score >= 60:
                grade = 'D'
            else :
                grade = 'F'
print('Grade => ', grade)

Enter Score: 90
Grade =>  A

In [92]:
score = int(input("Enter Score: "))
if score >= 90:
    grade = 'A'
elif score >= 90:
    grade ='B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else :
    grade = 'F'
print('Grade => ', grade)

Enter Score: 80
Grade =>  C

In [86]:
# tuple은 key 값만
1 in {2:'Tue', 1:'Mon'}, 'Mon' in {2:'Tue', 1:'Mon'}

(True, False)

In [87]:
## While문(반복문) ####################################
# break문으로 반복이 중단된 경우, else-block 실행 x 
scores = eval(input("점수 list: ") )

점수 list: [30, 20 , 50, 90, 60]

In [88]:
i = 0
while i < len(scores) :
    print(scores[i], 100, end='*')
    i += 1
print()
print('줄바꿈 확인',end='*')

30 100*20 100*50 100*90 100*60 100*
줄바꿈 확인*

In [85]:
running = True
while running :
    math, eng = eval( input("수학, 영어: ") )
    if (math, eng) == (0, 0) :
            running = False
    if math >= 90 and eng >= 90 :
        w = 'PASS'
    else:
        w = 'FAIL'
    print( w )
else:
    print( 'Done' )

수학, 영어: 90, 90
PASS
수학, 영어: 90, 80
FAIL
수학, 영어: 0, 0
FAIL
Done

In [84]:
# if문에서 w 할당 안해서 에러남
running = True
while running :
    math, eng = eval( input("수학, 영어: ") )
    if (math, eng) == (0,0) :
        running = False
    elif math >= 90 and eng >= 90:
        w = 'PASS'
    else:
        w = 'FAIL'
    print(w)
else:   
    print( 'Done' )

수학, 영어: 90, 90
PASS
수학, 영어: 90, 80
FAIL
수학, 영어: 0, 0
FAIL
Done

In [83]:
running = True
while running :
    math, eng = eval( input("수학, 영어: ") )
    if (math, eng) == (0,0) :
        running = False
    elif math >= 90 and eng >= 90:
        w = 'PASS'
        print(w)
    else:
        w = 'FAIL'
        print(w)
else:
    print( 'Done' )

수학, 영어: 90, 90
PASS
수학, 영어: 90, 80
FAIL
수학, 영어: 0, 0
Done

In [80]:
# break
scores = eval(input('점수 list: ') )
scores.sort( reverse=True )
i = 0
while i < len(scores) :
    if scores[i] <= 50:
        break
    print(scores[i], end= ' ')   
    i += 1
print()     # <- break 후 이동 위치

점수 list: [30, 20 , 50, 90, 60]
90 60

In [70]:
# continue
sum = num = 0
while num <= 20 :   # <- continue 후 이동 위치
    num += 1
    if num % 6 == 0 :
        continue
    sum += num
print(sum, num)

195 21

In [71]:
## for문(반복문) ####################################
# break문으로 반복이 중단된 경우, else-block 실행 x
# index를 따로 할당해줄 필요가 없어짐

In [79]:
scores = eval(input('점수 list: '))
scores.sort( reverse=True )
for s in scores :
    if s <= 50:
        break
    print(s , end= ' ')
print()

점수 list: [30, 20 , 50, 90, 60]
90 60

In [73]:
for a in range(5) :
    print(a)

0
1
2
3
4

In [74]:
## Range
# slicing과 유사, list type이 아님!!!
# list(range()) 를 해야 list method 사용 가능

# range(stop), range(start, stop), range(start, stop, step)

# range(3)        : 0, 1, 2
# range(5, 10)    : 5, 6, 7, 8, 9
# range(0, 10, 2) : 0, 2, 4, 6, 8
# range(2, 10, 3) : 2, 5, 8

In [75]:
# 중간 문제
for x in range(1,51):
    if x % 2 != 0:
        continue
    else :
        print(x, end=' ')
        if x % (2 * 10) == 0:
            print()        
print()

2 4 6 8 10 12 14 16 18 20
22 24 26 28 30 32 34 36 38 40
42 44 46 48 50

In [76]:
count = 0;
for x in range(2,51,2):
    count += 1
    print(x, end=' ')
    if count % 10 == 0:
        print()        
print()

2 4 6 8 10 12 14 16 18 20
22 24 26 28 30 32 34 36 38 40
42 44 46 48 50

In [77]:
for x in range(2,51,2):
    print(x, end=' ')
    if x % (2 * 10) == 0:
        print()        
print()

2 4 6 8 10 12 14 16 18 20
22 24 26 28 30 32 34 36 38 40
42 44 46 48 50