# 파이썬의 과학기술 분야 Ecosystem
<img src="img/1강/파이썬과학기술라이브러리.jpg" alt="datetime" style="width: 1200px;"/>
# 1. Pandas 소개
<img src="img/1강/6pandas소개.jpg" alt="datetime" style="width: 1200px;"/>
# [ Pandas API 공식 문서 ]
## http://pandas.pydata.org/pandas-docs/stable/api.html

# 2. Pandas 주요 데이터 타입

## 2.1. Series (시리즈)
<img src="img/1강/Series소개.jpg" alt="datetime" style="width: 1200px;"/>

In [2]:
from pandas import Series

## 2.1.1 Series 생성

In [3]:
# 기본 Series를 생성
data1 = Series([3,5,1,2])
data1

0    3
1    5
2    1
3    2
dtype: int64

In [5]:
type(data1.values)

numpy.ndarray

In [6]:
data1.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data2 = Series(('big data', 30, [1,2,3]))
data2

0     big data
1           30
2    [1, 2, 3]
dtype: object

In [9]:
#인덱스 라벨(문자 인덱스)을 추가
data2.index = ['강의명', '수강생', '비고']

In [10]:
data2

강의명     big data
수강생           30
비고     [1, 2, 3]
dtype: object

In [12]:
# 사전 타입의 데이터로 Series 생성 
data3 = Series({'a':1,
               'b':5,
               'c':30
               })
data3

a     1
b     5
c    30
dtype: int64

In [13]:
# index 인자 활용하여 Series 생성
data4 = Series([10,20,30,40,50], index=['a','b','c','d','e'])
data4

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [15]:
data4 + 60

a     70
b     80
c     90
d    100
e    110
dtype: int64

In [16]:
data4.append(Series({'f':60}))

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [18]:
data4 = data4 + 60

In [19]:
data4

a     70
b     80
c     90
d    100
e    110
dtype: int64

## 2.2.2. Series 색인

In [25]:
# 숫자 인덱스로 색인
# 3번째 데이터만 출력
data4[2]

90

In [26]:
# 인덱스 라벨로 색인
# 'c' 항목값을 출력
data4['c']

90

In [27]:
# 2개 이상의 인덱스로 색인
# 두번째, 네번째 데이터만 출력
data4[[1,3]]

b     80
d    100
dtype: int64

In [28]:
# b,c,e 데이터만 출력
data4[['b','c','e']]

b     80
c     90
e    110
dtype: int64

# 인덱스 슬라이싱 (숫자 인덱스)
<img src="img/1강/3문자열슬라이싱.jpg" alt="datetime" style="width: 800px;"/>

### 1) :을 기점으로 왼쪽에 start index, 오른쪽에 end index 지정
### 2) start index 보다 크거나 같고, end index보다 작은 항목을 선택
### 3) 예를 들어, a[2:5]는 a[[2,3,4]]와 동일
### 4) start index와 end index는 생략 가능하며, 생략 시 start index는 첫 인덱스, end index는 끝 인덱스로 지정됨.
### 5) 음수 인덱스는 끝에서 시작되는 역인덱스임.

In [29]:
data = Series(range(0, 100, 10), index = list('ABCDEFGHIJ'))
data

A     0
B    10
C    20
D    30
E    40
F    50
G    60
H    70
I    80
J    90
dtype: int64

In [31]:
# 3번째부터 6번째까지 항목의 값을 출력
data[2:6]

C    20
D    30
E    40
F    50
dtype: int64

In [32]:
# 'C'부터 'F'까지의 항목을 출력
data['C':'F']

C    20
D    30
E    40
F    50
dtype: int64

In [35]:
# 맨 앞의 3개의 항목만 출력
# data[0:3]
data[:3] # start index를 생각하면 0이 기본값

A     0
B    10
C    20
dtype: int64

In [37]:
# 맨 뒤에 3개의 항목을 출력
# data[7:10]
data[-3:]

H    70
I    80
J    90
dtype: int64

# 조건을 활용한 인덱스 선택 (조건 색인)
# 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인.jpg" alt="datetime" style="width: 1000px;"/>

In [39]:
data

A     0
B    10
C    20
D    30
E    40
F    50
G    60
H    70
I    80
J    90
dtype: int64

In [41]:
# 값이 50이상인 데이터만 출력
# 조건 색인 ==> 특정 조건을 만족하는 데이터만 선택
data[data >= 50]

F    50
G    60
H    70
I    80
J    90
dtype: int64

## 2.2.3. Series 속성 조회 및 주요 함수
<img src="img/1강/Series주요속성및함수.jpg" alt="datetime" style="width: 1000px;"/>

### 속성 (Attributes)

In [45]:
sample = Series([10,-2,3.5,4,8], index=['A','B','C','D','E'])
sample

A    10.0
B    -2.0
C     3.5
D     4.0
E     8.0
dtype: float64

In [46]:
sample.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [47]:
sample.values

array([10. , -2. ,  3.5,  4. ,  8. ])

In [48]:
sample.size

5

### 주요 함수

In [49]:
sample.max()   # parameter 존재

10.0

In [53]:
sample.min()

-2.0

In [51]:
sample.describe()

count     5.000000
mean      4.700000
std       4.631414
min      -2.000000
25%       3.500000
50%       4.000000
75%       8.000000
max      10.000000
dtype: float64

In [56]:
# sample + 5
sample.add(5)

A    15.0
B     3.0
C     8.5
D     9.0
E    13.0
dtype: float64

=============================================================
# 실습 문제

In [12]:
import random

In [13]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    59
B    75
C    74
D    92
E    47
F    87
G    19
H    76
I    91
J     5
K    88
L    65
M    54
N    43
O    32
P    50
Q    80
R    49
S    25
T    37
U    83
V    12
W    55
X    36
Y    84
Z    13
dtype: int64

In [14]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K']  # 대소문자 구분한다.

88

In [15]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data[['A','F','C']]

A    59
F    87
C    74
dtype: int64

In [16]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[5:16]

F    87
G    19
H    76
I    91
J     5
K    88
L    65
M    54
N    43
O    32
P    50
dtype: int64

In [17]:
# 4) 뒤에서 5개 항목 출력
data[-5:]

V    12
W    55
X    36
Y    84
Z    13
dtype: int64

In [18]:
# 5) data의 항목의 갯수를 출력
data.size  #len(data)

26

In [19]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
data[data > data.mean()]

A    59
B    75
C    74
D    92
F    87
H    76
I    91
K    88
L    65
Q    80
U    83
Y    84
dtype: int64

In [20]:
sample = Series([1,6,8,12,51])
sample

0     1
1     6
2     8
3    12
4    51
dtype: int64

In [21]:
# True, False 리스크 크기과 Series 크기가 일치해야한다.
sample[[False, True, False, True, False]]

1     6
3    12
dtype: int64

In [25]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
# data == 50
if 50 in data.values:
    print("True")
else :
    print("False")

True

In [42]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX

temp = data.copy()

# temp.index = 'index: ' + temp.index

for x, y in temp.items():
    print("index: {}, value: {}".format(x,y))

index: A, value: 59
index: B, value: 75
index: C, value: 74
index: D, value: 92
index: E, value: 47
index: F, value: 87
index: G, value: 19
index: H, value: 76
index: I, value: 91
index: J, value: 5
index: K, value: 88
index: L, value: 65
index: M, value: 54
index: N, value: 43
index: O, value: 32
index: P, value: 50
index: Q, value: 80
index: R, value: 49
index: S, value: 25
index: T, value: 37
index: U, value: 83
index: V, value: 12
index: W, value: 55
index: X, value: 36
index: Y, value: 84
index: Z, value: 13